/node_modules
/public/hot
/public/storage
/public/logs
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/uploads
/public/uploads/*

/public/.rnd
/public/users
/public/users/*
package-lock.json
/public/news
_ide_helper.php
/public/code-coverage/*
/public/venue_category/*
/public/code-coverage
/public/venue_category

.scannerwork
.rnd
/storage/framework/*
/storage/oauth-private.key
/storage/oauth-public.key
/storage/logs/*
